{% extends 'layout.twig' %}

{% set title=('HeatmapSessionRecording_ReplayX'|translate('HeatmapSessionRecording_SessionRecording'|translate)) %}

{% block root %}
    {% include '@HeatmapSessionRecording/_detectAdBlocker.twig' with {type: 'Session recordings'} %}
    <style type="text/css">
        #root {
            margin: 0 !important;
        }
    </style>
    <div class="sessionRecording">
        <div class="sessionRecordingHead">
            <span class="recordingTime">{{ recording.server_time_pretty }}</span>

            {% if recording.url %}<span class="recordingUrl"><a title="{{ recording.url }}" href="https://{{ recording.url }}" target="_blank" rel="noreferrer noopener">{{ recording.url|truncate(50) }}</a></span>{% endif %}

            <span class="recordingResolution" title="{{ 'HeatmapSessionRecording_ViewportResolution'|translate }}"><span class="recordingWidth">{{ recording.viewport_w_px }}</span>x<span class="recordingHeight">{{ recording.viewport_h_px }}</span></span>
            <span class="recordingPageviews" onclick="piwik.helper.modalConfirm('#listOfPageviews', {});">{% if recording.numPageviews == 1 %}{{ 'HeatmapSessionRecording_OnePageview'|translate }}{% else %}{{ 'HeatmapSessionRecording_PageviewXofY'|translate(currentPage, recording.numPageviews) }} {% endif %}</span>

            <span class="recordingLogos">
                {% if recording.location_logo %}<img class="countryFlag" title="{{ recording.location_name }}" src="{{ recording.location_logo }}">{% endif %}
                {% if recording.device_logo %}<img title="{{ recording.device_name }}" src="{{ recording.device_logo }}">{% endif %}
                {% if recording.os_logo %}<img title="{{ recording.os_name }}" src="{{ recording.os_logo }}">{% endif %}
                {% if recording.browser_logo %}<img title="{{ recording.browser_name }}" src="{{ recording.browser_logo }}">{% endif %}
                {% if recording.idvisitor and visitorProfileEnabled %}<img class="openVisitorProfile" onclick="broadcast.propagateNewPopoverParameter('visitorProfile', {{ recording.idvisitor|json_encode }})" title="Show visitor profile" src="plugins/Live/images/visitorProfileLaunch.png">{% endif %}
            </span>
        </div>

        <script type="text/javascript">
            window.sessionRecordingData = {
                events: {{ recording.events|json_encode|raw }},
                viewport_w_px: {{ recording.viewport_w_px|json_encode|raw }},
                viewport_h_px: {{ recording.viewport_h_px|json_encode|raw }},
                pageviews: {{ recording.pageviews|json_encode|raw }},
                idLogHsr: {{ idLogHsr|json_encode|raw }},
                idSiteHsr: {{ idSiteHsr|json_encode|raw }},
                idSite: {{ idSite|json_encode|raw }},
                duration: {{ recording.time_on_page|json_encode|raw }},
                url: {{ recording.url|json_encode|raw }}
            };
        </script>

        <div vue-entry="HeatmapSessionRecording.SessionRecordingVis"
             scroll-accuracy="{{ scrollAccuracy }}"
             offset-accuracy="{{ offsetAccuracy }}"
             replay-speed="{{ replaySpeed }}"
             skip-pauses-enabled="{% if skipPausesEnabled %}true{% else %}false{% endif %}"
             auto-play-enabled="{% if autoPlayEnabled %}true{% else %}false{% endif %}">
        </div>

        <div
            vue-entry="HeatmapSessionRecording.ListOfPageviews"
            pageviews="{{ recording.pageviews|default([])|json_encode }}"
            id-log-hsr="{{ idLogHsr|default(null)|json_encode }}"
        >
        </div>
    </div>

{% endblock %}
