<div vue-entry="UsersFlow.GetUsersFlow"
     show-title="{{ showTitle|json_encode }}"
     actions-per-step="{{ numActionsPerStep }}"
     level-of-detail="{{ levelOfDetail }}"
     user-flow-source="{{ userFlowSource|json_encode }}"
     is-user-is-anonymous="{{ isUserIsAnonymous|json_encode }}"
>
</div>
