{% include '@HeatmapSessionRecording/_detectAdBlocker.twig' with {type: 'Heatmaps'} %}
<div vue-entry="HeatmapSessionRecording.HeatmapVisPage"
     heatmap="{{ heatmap|json_encode }}"
     heatmap-metadata="{{ heatmapMetadata|json_encode }}"
     edit-url="{{ editUrl|json_encode }}"
     inline-help="{{ reportDocumentation|json_encode }}"
     id-site-hsr="{{ idSiteHsr }}"
     created-date="{{ heatmap.created_date|prettyDate('day')|json_encode }}"
     heatmap-types="{{ heatmapTypes|json_encode }}"
     device-types="{{ deviceTypes|json_encode }}"
     offset-accuracy="{{ offsetAccuracy }}"
     is-active="{{ isActive|json_encode }}"
     heatmap-period="{{ heatmapPeriod|json_encode }}"
     heatmap-date="{{ heatmapDate|json_encode }}"
     included-countries="{{ includedCountries|json_encode }}"
     desktop-preview-size="{{ desktopPreviewSize|json_encode }}"
     iframe-resolutions="{{ allowedWidth|json_encode }}"
     no-data-message-key="{{ noDataMessageKey|json_encode }}"
     is-matomo-js-writable="{{ isMatomoJsWritable|json_encode }}"
>
</div>
