{% extends 'admin.twig' %}

{% set title %}{{ 'SearchEngineKeywordsPerformance_SearchEngineKeywordsPerformance'|translate }}{% endset %}

{% block content %}

    <div
        vue-entry="SearchEngineKeywordsPerformance.BingConfiguration"
        configured-measurables="{{ configuredMeasurables|default({})|json_encode }}"
        accounts="{{ accounts|default({})|json_encode }}"
        sites-infos="{{ sitesInfos|default({})|json_encode }}"
        current-site="{{ currentSite|default(null)|json_encode }}"
        url-options="{{ urlOptions|default({})|json_encode }}"
        error="{{ error is defined ? error|json_encode : 'null' }}"
        apikey="{{ apikey|default(null)|json_encode }}"
        form-nonce="{{ nonce|json_encode }}"
        add-bing-site-config-nonce="{{ addBingSiteConfigNonce|default(null)|json_encode }}"
        remove-bing-site-config-nonce="{{ removeBingSiteConfigNonce|default(null)|json_encode }}"
        remove-bing-account-nonce="{{ removeBingAccountNonce|default(null)|json_encode }}"
        count-of-accounts-with-access="{{ countOfAccountsWithAccess }}"
        user-is-super-user="{{ userIsSuperUser }}"
    ></div>

{% endblock %}
